Source: lmd-gaming-i386
Maintainer: lmd Linux <lmd.linux@gmail.com>
Section: misc
Priority: important
Standards-Version: 4.6.2
Build-Depends: debhelper-compat (= 13)

Package: lmd-gaming-i386
Architecture: all
Depends:
 gstreamer1.0-plugins-bad:i386,
 gstreamer1.0-plugins-base:i386,
 gstreamer1.0-plugins-good:i386,
 gstreamer1.0-plugins-ugly:i386,
 mangohud:i386
Description: Additional i386 dependencies for lmd-gaming
